*{
    margin: 0;
    padding:0;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: linear-gradient(to bottom right, #f97070 0% , #e2a9a6 40%);
    animation: float 6s infinite alternate;
}

section{
    padding: 45PX;
    background-color: rgb(141, 88, 88);
    width: 500PX;
    border-radius: 15px;
    display: flex;
    align-items: center ; 
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    text-align: center;
    box-shadow: 2px 15px 20px , rgba(178, 142, 142, 0.4);

}

header img{
    width: 200px;
    height: 200px;
   
}

header h3{
    color: #f69191;
    font-size: 1.35rem;
}

main{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 25px;
}

main a{
    background: #e69292;
    padding: 15px 0;
    text-decoration: none;
    color: rgb(10, 4, 4);
    border-radius: 5px;
    box-shadow: 10px 10px #edd3df;
    transition: all .5s ease;
}

main a:hover{
    opacity: .85;

}

footer{
    position: absolute;
    bottom: 10px;
    color: rgb(76, 40, 40)
}

@media (max-width: 520px){
    section{
        width:90%;
        padding: 30px;
    }
    header img{
        width: 100%;
    }
    header h3{
        font-size:1.3rem;
        color: red;
    }
    main{
        gap: 15px;
    }
    main a{
        padding: 10px 0;
    }
}